/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
    background: #f7f7f7;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {
    font-size: 18px;
    font-family: "Lato";
    margin: 30px auto;
    color: rgb(53, 55, 56);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.2;
    text-align: center;}
/*--------------------*/

    
.wrapper {
    margin: 0 auto;
}

.header {
    /* max-width: 100%; */
    position: relative;
    margin: 0 auto;
    text-align: center;
    /* border: black solid 1px; */
}

.header_bg {
    width: 100%;
    margin: 0 auto;
}

.header_title_wrapper {
    z-index: 2;
    display: flex;
    /* width: 40%; */
    /* border: black solid 1px; */
    position: absolute;
    top: 0;
    left: 25%;
    right: 25%;
    margin: 1% auto 0;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* border: black solid 1px; */
}

.header_title_wrapper a {
    font-size: 13px;
    font-family: "Lato";
    color: rgb(77, 73, 89);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
}

.header_title_wrapper a:hover {
    color: teal;
}

.generation_container {
    /* border: black solid 1px; */
    padding: 90px 14%;
}

.generation {
    max-width: 1400px;
    margin: 0 auto;
    /* border: black solid 1px; */
}

.generation svg {
    display: block;
    margin: 0 auto;
}

svg {
    text-align: center;
    justify-content: center;
}

img {
    display: block;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h2 {
    
}

p {
    font-size: 18px;
    font-family: "Lato";
    color: rgb(132, 135, 137);
    line-height: 1.889;
    text-align: center;
}

section {
    display: flex;    
}

.pic {
    /* max-width: 100%;
    height: 100%; */
    /* border: black solid 10px; */
    /* object-fit: cover; */
    flex: 1 1 33.3333%;
    align-self: auto;
    position: relative;
}

.pic svg{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.article {
    display: flex;
    flex-direction: column;
    background: white;
    flex: 0 0 33.3333%;
    /* border: black solid 1px; */
    /* height: 100%; */
}

.article_text {
    flex: 1 1 auto;
    padding: 10%;
    text-align: justify;
}

.article_text_wrapper{
    /* border: black dashed 3px; */
    max-height: 100%;
    margin: auto;
    align-self: center;
    z-index: 100;
    box-sizing: content-box;
}

.article_text_wrapper svg {
    display: block;
    margin: 0 auto;
}

/* .article_pic {
    margin: 0 10%;
} */



.twitter {
    /* border: black dotted 1px; */
    /* border: red solid 1px;
    width: 100%; */
    /* position: static; */
    display: block;
    padding: 90px 14%;
    /* border: red solid 1px; */

}

.twitter_container {
    max-width: 1400px;
    margin: 0 auto;
    /* border: red solid 1px; */
    
}

.twitter_container svg {
    display: block;
    margin: 0 auto 35px;
    
}

.twitter_title {
    /* position: static;
    border: black dotted 3px; */
    /* width: 100%; */

    margin: 20px auto 0;


}

.twitter_title1 {
    display: inline-block;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: "Lato";
    font-weight: 600;
    color: rgb(53, 55, 56);
    /* font-weight: bold; */
    line-height: 1.2;
    text-align: center;
    /* border: black dotted 1px; */
    
}  

.twitter_text {
    font-size: 24px;
    font-family: "Lato";
    color: rgb(132, 135, 137);
    font-style: italic;
    line-height: 1.417;
    text-align: center;
    /* border: black dotted 1px; */
    margin: 25px auto;
}

.twitter_pag {
    
}

.pag {
    display: flex;
    margin: 110px auto 30px;
    /* border: black dotted 1px; */
    justify-content: center;
}

.pag li {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 0 5px;
    /* background-color: #a9afb3; */
    border: #a9afb3 2px solid;
}

.pag li:hover {
    border: #565a5d 2px solid;
    /* background-color: #ced5da; */
}

.pag li:nth-child(1) {
    background-color: #a9afb3;
}

.pag li:nth-child(1):hover {
    background-color: #565a5d;
}

.ph {
    display: flex;
    width: 100%;
    /* flex: 0 0 33.333%; */
    /* border: black dotted 1px; */

}

.ph1, .ph3 {
    display: flex;
    flex-direction: column;
    flex: 0 0 33.333%;
    /* flex: 0 0 50%; */
}

.ph2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 0 0 33.333%;

}

.ph2_ {
    flex: 0 0 50%;
}

.ph1_ {
    display: flex;
    flex-direction: row;
    /* flex: 0 0 50%; */
    /* border: black dotted 1px; */
    
}

.ph_ {
    flex: 0 0 50%;
}


.ph3_2_ {
    display: flex;
    flex-direction: row;
}

.disc {
    background-color: #282f35;
    padding: auto 30px;
}

.disc a {
    margin: 70px auto;
    display: block;
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    /* font-weight: bold; */
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    text-align: center;
    border: white 1px solid;
    padding: 15px 50px;
}

.disc a:hover {
    background-color: white;
    color: #282f35;
}

.mailing {
    background-color: #fff;
}

.mailing_content {
    width: 100%;
    margin: 60px auto;
    /* border: red solid 3px; */

}

.mailing_input {
    margin: 0 auto;
    /* border: red solid 3px; */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.mailing_go {
    font-weight: 100;
    width: 126px;
    height: 69px;
    display: inline-block;
    margin: 0 0 0 10px;
    font-size: 24px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    line-height: 1;
    text-align: center;
    background-color: #64c29e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mailing_go:hover {
    background-color: #21805c;
}

input {
    border: solid rgb(211, 215, 217) 2px;
    background-color: rgb(255, 255, 255);
    width: 404px;
    height: 69px;
    display: inline-block;
    font-size: 20px;
    font-family: "Myriad Pro";
    color: #848789;
    padding: 25px;
    /* text-align: center; */
}

input:focus {
    border: #64c29e 1px solid;
    box-shadow: 0 0 10px #64c29e;
}

input::placeholder {
    font-size: 20px;
    font-family: "Myriad Pro";
    color: #cdcdcd;
    line-height: 1.2;
}

.ph_logo p {
    font-size: 14px;
    font-family: "Lato";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 2px;
}

.ph_logo {
    z-index: 11;
}

.bggreen {
    height: 100%;
    position: relative;
}

.bggreen img {
    object-fit: cover;
}


.ph_logo svg {
    display: block;
    margin: 0 auto;
    text-align: center;
    /* border: 1px seagreen solid; */
    margin-bottom: 5px;
}



.ph_logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    /* border: 1px seagreen solid; */
}

.ph_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* border: 10px seagreen solid; */
    z-index: 60;
    opacity: 0;
}

.ph_hover:hover {
    opacity: 1;
}

.bg {
    width: 100%;
    height: 100%;
    background: rgb(88, 165, 137);
    opacity: 0.6;
}

/* .bg:hover {
    opacity: 1;
} */

footer {
    display: flex;
    flex-direction: row;
}

.footer_aod {
    font-size: 16px;
    font-family: "Lato";
    color: rgb(132, 135, 137);
    font-weight: thin;
    line-height: 1.2;
    text-align: left;
}

.footer_aod h7 {
    font-weight: 600;
}

.footer_yebo {
    /* width: 100%; */
    font-size: 14px;
    font-family: "Lato";
    color: rgb(132, 135, 137);
    font-style: italic;
    line-height: 1.286;
    /* text-align: right; */
    display: inline-block;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    /* align-items: center; */
}

.footer_yebo div {
    /* border: green 1px solid; */
    align-items: center;
    display: inline-block;
    /* height: 100%; */
    /* flex: 0 0 50%; */
    /* width: 100px; */
}

.yebo_cover {
    border: 1px red solid;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;

}

.yebo_cover div {
    flex-basis: auto;
    border: 1px seagreen solid;

}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 3% auto;
}

.footer > div {
    flex: 1 1 33.3333%;
    display: flex;
    justify-content: center;
    /* margin: 0 20px; */
    /* border: green 1px solid; */

}

.footer_aod, .footer_yebo, .footer_links {
    display: inline-block;
}

.test {
    /* border: 1px red solid; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.test div {
    /* border: 1px seagreen solid; */
    flex-basis: auto;
    font-size: 14px;
    font-family: "Lato";
    color: rgb(132, 135, 137);
    font-style: italic;
    /* line-height: 1.286; */
    text-align: right;
    margin: 0 6px;
}

.footer_links svg {
    margin: 0 5px;
}

.shnow {
    display: block;
    width: 100%;
    /* border: green 100px solid; */

}

@media (max-width: 1100px) {
    /* .pic, .article {
        flex-wrap: wrap;
        flex: 0 0 100%;
    } */
    .work {
        display: block;
    }
}